<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    <h1 class="text-center alert alert-danger title-video">
        {{video.title}}
    </h1>
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <video poster="{{#if video.url_image}}../{{video.url_image}} {{else}} ../images/default.png{{/if}}"
                    width="1024" height="500" controls>
                    <source src="../{{video.url_video}}" type="video/mp4">
                </video>
            </div>
        </div>
        <br />
        <input id="video-id" type="hidden" value="{{video._id}}">
        <div class="row">
            <div class="col col-md-1">
                <button id="btnLike" class="btn btn-outline-success">Like</button>
            </div>
            <div class="col col-md-1">
                <label id="divLikes">{{video.likes}}</label>
            </div>
            <div class="col col-md-1">
                <button id="btnDislike" class="btn btn-outline-danger">Dislike</button>
            </div>
            <div class="col col-md-1">
                <label id="divDislikes">{{video.dislikes}}</label>
            </div>
        </div>
        <br />
        <h2>Additional information</h2>
        <hr />
        <div class="row">
            <div class="col col-md-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Created</strong></td>
                            <td>{{ dateVideo}}</td>
                        </tr>
                        <tr>
                            <td><strong>Description</strong></td>
                            <td>{{video.description}}</td>
                        </tr>
                        <tr>
                            <td><strong>Tags</strong></td>
                            <td>{{video.tags}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12 text-center">
                <a href="/videos" class="btn btn-outline-dark">Back to home</a>
            </div>
        </div>
        <div class="row">
            <div id="divComments" class="col col-md-12">
                <h2>Comments</h2>
                <hr />
                {{#each comments}}
                <div class="card">
                    <h5 class="card-header alert-danger">Generic User - {{this.convertDate}}</h5>
                    <div class="card-body">
                        <p class="card-text">{{this.comment}}</p>
                    </div>
                </div>
                <br />
                {{/each}}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col col-md-6">
                <div class="form-floating">
                    <textarea id="txtComment" class="form-control" name="comment" placeholder="Leave a comment here"
                        style="height: 100px"></textarea>
                    <label for="txtComment">Add new comment</label>
                </div>
            </div>
            <div class="col col-md-6">
                <button id="btn-comment" class="btn btn-outline-danger">Add comment</button>
            </div>
        </div>
    </div>
    <script src="../js/view-video.js"></script>
</body>
{{>footer}}

</html>